/** Default Desktop Version **/
/* Game Menu Style*/
.game-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 448px;
}

.game-menu img {
  width: 100px;
}

.container {
  align-items: center;
  background-color: var(--semi-dark-navy);
  box-shadow: inset 0px -8px 0px rgb(16, 33, 33);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 205px;
  width: 460px;
}

.x-and-o {
  align-items: center;
  background-color: var(--dark-navy);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 72px;
  width: 412px;
}

.x-selected,
.o-selected {
  align-items: center;
  background-color: var(--silver);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 54px;
  width: 198px;
}

.x-unselected,
.o-unselected {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 54px;
  width: 198px;
}

.x-unselected:hover,
.o-unselected:hover {
  background-color: rgba(168, 191, 201, 0.05);
}

.x-unselected img,
.x-selected img,
.o-unselected img,
.o-selected img {
  pointer-events: none;
  width: 32px;
}

.x-unselected img {
  content: url(../assets/icon-x-unselected.svg);
}

.x-selected img {
  filter: brightness(30%) contrast(120%);
}

.o-selected img {
  content: url(../assets/icon-o-selected.svg);
}

.o-unselected img {
  content: url(../assets/icon-o.svg);
  filter: grayscale(100%);
}

.game-menu p {
  margin-top: 20px;
  text-transform: uppercase;
  opacity: 0.5;
}

.p1-vs-cpu,
.p1-vs-p2 {
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s;
  letter-spacing: 1.25px;
  line-height: 25px;
  height: 67px;
  width: 460px;
}

.p1-vs-cpu {
  background-color: var(--light-yellow);
  box-shadow: inset 0px -8px 0px #CC8B13;
}

.p1-vs-cpu:hover {
  background-color: var(--light-yellow-hover);
}

.p1-vs-p2 {
  background-color: var(--light-blue);
  box-shadow: inset 0px -8px 0px #118C87;
}

.p1-vs-p2:hover {
  background-color: var(--light-blue-hover);
}

/* Game Start Style */
.game-start {
  display: flex;
  flex-direction: column;
  height: 623px;
  width: 460px;
}

/* Top Section */
.top-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.x-o-turn {
  align-items: center;
  background-color: var(--semi-dark-navy);
  border-radius: 10px;
  box-shadow: inset 0px -4px 0px #10212A;
  display: flex;
  justify-content: center;
  margin-left: -20px;
  height: 52px;
  width: 140px;
}

.x-o-turn img {
  margin-right: 14px;
  width: 20px;
}

.restart-button {
  background-color: var(--silver);
  border-radius: 10px;
  box-shadow: inset 0px -4px 0px #6B8997;
  cursor: pointer;
  height: 52px;
  width: 52px;
}

.restart-button:hover {
  background-color: var(--silver-hover);
}

/* Middle Section */
.middle-section {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  row-gap: 20px;
}


.box {
  align-items: center;
  background-color: var(--semi-dark-navy);
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212A;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 140px;
  width: 140px;
}

.winner-x-box {
  background-color: var(--light-blue);
  box-shadow: inset 0px -8px 0px rgb(37, 152, 149);
}

.winner-x-box::after {
  filter: brightness(30%) contrast(120%);
}

.winner-o-box {
  background-color: var(--light-yellow);
  box-shadow: inset 0px -8px 0px rgb(195, 141, 42);
}

.winner-o-box::after {
  filter: brightness(30%) contrast(120%);
}

.box:hover::after,
.selected-box-x:hover::after,
.selected-box-x::after,
.selected-box-o:hover::after,
.selected-box-o::after {
  height: 64px;
  width: 64px;
}

.box:hover::after {
  content: var(--x-o-outline);
}

.selected-box-x:hover::after,
.selected-box-x::after {
  content: url(../assets/icon-x.svg);
}

.selected-box-o:hover::after,
.selected-box-o::after {
  content: url(../assets/icon-o.svg);
}

/* Bottom Section */
.bottom-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.x-score,
.ties-score,
.o-score {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
  width: 140px;
}

.x-score {
  background-color: var(--light-blue);
}

.ties-score {
  background-color: var(--silver);
}

.o-score {
  background-color: var(--light-yellow);
}

.x-score p,
.x-score h2,
.ties-score p,
.ties-score h2,
.o-score p,
.o-score h2 {
  color: var(--dark-navy);
  margin: 0;
  text-transform: uppercase;
}

/* Game End Style */
.game-end {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.game-end div {
  align-items: center;
  background-color: var(--semi-dark-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 266px;
  width: 100%;
}

.game-end div h4 {
  margin: 10px;
}

.game-end div h1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.game-end div h1 img {
  margin-right: 24px;
}

.game-end div div {
  display: flex;
  flex-direction: row;
  height: auto;
}

.quit-button {
  background-color: var(--silver);
  box-shadow: inset 0px -4px 0px rgb(104, 137, 151);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-right: 10px;
  text-transform: uppercase;
  height: 52px;
  width: 76px;
}

.quit-button:hover {
  background-color: var(--silver-hover);
  box-shadow: inset 0px -4px 0px rgb(124, 162, 180);
}

.next-round-button {
  background-color: var(--light-yellow);
  box-shadow: inset 0px -4px 0px #CC8B13;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 10px;
  text-transform: uppercase;
  height: 52px;
  width: 146px;
}

.next-round-button:hover {
  background-color: var(--light-yellow-hover);
  box-shadow: inset 0px -4px 0px #e69d16;
}

/* Game Restart Style */
.game-restart {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.game-restart div {
  align-items: center;
  background-color: var(--semi-dark-navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 266px;
  width: 100%;
}

.game-restart div h1 {
  margin: 20px;
}

.game-restart div div {
  display: flex;
  flex-direction: row;
  height: auto;
}

.disagree-button {
  background-color: var(--silver);
  box-shadow: inset 0px -4px 0px #6B8997;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-right: 10px;
  text-transform: uppercase;
  height: 52px;
  width: 140px;
}

.disagree-button:hover {
  background-color: var(--silver-hover);
  box-shadow: inset 0px -4px 0px rgb(124, 162, 180);
}

.agree-button {
  background-color: var(--light-yellow);
  box-shadow: inset 0px -4px 0px #CC8B13;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 10px;
  text-transform: uppercase;
  height: 52px;
  width: 152px;
}

.agree-button:hover {
  background-color: var(--light-yellow-hover);
  box-shadow: inset 0px -4px 0px #e69d16;
}

/** Tablet Version **/
@media (max-width: 490px) {
  /* Game Menu Style*/
  .game-menu {
    height: 438px;
  }

  .game-menu img {
    width: 76px;
  }

  .container {
    height: 195px;
    width: 340px;
  }

  .x-and-o {
    height: 64px;
    width: 300px;
  }

  .x-selected,
  .o-selected {
    height: 48px;
    width: 140px;
  }

  .x-unselected,
  .o-unselected {
    height: 54px;
    width: 140px;
  }

  .x-unselected img,
  .x-selected img,
  .o-unselected img,
  .o-selected img {
    width: 28px;
  }

  .p1-vs-cpu,
  .p1-vs-p2 {
    height: 60px;
    width: 340px;
  }

  /* Game Start Style */
  .game-start {
    height: 100%;
    width: 350px;
  }

  /* Top Section */
  .x-o-turn {
    height: 44px;
    width: 120px;
  }

  .x-o-turn img {
    width: 20px;
  }

  .restart-button {
    height: 46px;
    width: 48px;
  }

  /* Middle Section */
  .middle-section {
    column-gap: 10px;
    row-gap: 10px;
  }

  .box {
    height: 110px;
    width: 100%;
  }

  /* Bottom Section */
  .x-score,
  .ties-score,
  .o-score {
    height: 58px;
    width: 90px;
  }

  /* Game End Style */
  .game-end div {
    height: 228px;
  }

  .game-end div h4 {
    margin: 6px;
    font-size: 14px;
  }

  .game-end div h1 {
    font-size: 24px;
    margin: 6px;
  }

  .game-end div h1 img {
    margin-right: 14px;
    width: 32px;
  }

  /* Game Restart Style */
  .game-restart div {
    height: 228px;
  }

  .game-restart div h1 {
    font-size: 24px;
    margin: 10px;
  }
}

/** Mobile Version **/
@media (max-width: 360px) {
  /* Game Menu Style*/
  .game-menu img {
    width: 66px;
  }

  .container {
    height: 175px;
    width: 320px;
  }

  .x-and-o {
    height: 44px;
    width: 260px;
  }

  .x-selected,
  .o-selected {
    height: 30px;
    width: 120px;
  }

  .x-unselected,
  .o-unselected {
    height: 30px;
    width: 120px;
  }

  .x-unselected img,
  .x-selected img,
  .o-unselected img,
  .o-selected img {
    width: 22px;
  }

  .p1-vs-cpu,
  .p1-vs-p2 {
    height: 52px;
    width: 320px;
  }

  /* Game Start Style */
  .game-start {
    width: 320px;
  }

  /* Middle Section */
  .middle-section {
    column-gap: 8px;
    row-gap: 8px;
  }

  .box {
    height: 100px;
  }

  /* Bottom Section */
  .x-score,
  .ties-score,
  .o-score {
    height: 50px;
    width: 80px;
  }

  /* Game End Style */
  .game-end div {
    height: 208px;
  }

  .game-end div h4 {
    margin: 4px;
  }

  .game-end div h1 {
    margin: 4px;
  }

  .game-end div h1 img {
    margin-right: 10px;
    width: 30px;
  }

  /* Game Restart Style */
  .game-restart div {
    height: 208px;
  }

  .game-restart div h1 {
    font-size: 24px;
    margin: 6px;
  }  
}